<div role="navigation" class="nav">
    <div class="nav__left">
        <div class="nav__left--image">
            <img src="./assets/img/fblogo.png" alt="fblogo">
        </div>
        <div class="nav__left--search">
            <i class="material-icons">search</i>
            <input type="search" placeholder="Szukaj na Facebooku">
        </div>
    </div>
    <div class="nav__center">
        <a class="nav__center--item">
            <i class="material-icons">home</i>
        </a>
        <a class="nav__center--item">
            <i class="material-icons">people</i>
        </a>
        <a class="nav__center--item">
            <i class="material-icons">live_tv</i>
        </a>
        <a class="nav__center--item">
            <i class="material-icons">shopping_cart</i>
        </a>
        <a class="nav__center--item">
            <i class="material-icons">groups</i>
        </a>
    </div>
    <div class="nav__right">
        <div class="nav__right--user">
            <div class="nav__right--user-image">
                <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/cp0/c22.0.40.40a/p40x40/78846700_1038090023194803_1966213329206640640_o.jpg?_nc_cat=100&ccb=2&_nc_sid=dbb9e7&_nc_ohc=xJt8RtSpl7UAX8RHliX&_nc_ht=scontent-waw1-1.xx&tp=27&oh=3c064b30c244db8770279a534a2addc2&oe=5FCAD134" alt="user photo"> 
            </div>
            <div class="nav__right--user-name">
                Krzysztof
            </div>
        </div>
        <a class="nav__right--item">
            <i class="material-icons">add</i>
        </a>
        <a class="nav__right--item">
            <i class="material-icons">chat</i>
        </a>
        <a class="nav__right--item">
            <i class="material-icons">notifications</i>
        </a>
        <a class="nav__right--item">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>