@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.nav {
    @include flex;

    background-color: $gray60;
    border-bottom: 1px solid $gray50;

    padding: 0.4rem 1rem;

    &__container {
        @include flex;
    }

    &__search {
        margin-left: 1rem;
        position: relative;
    }

    &__icon {
        position: absolute;

        top: 10px;
        left: 8px;

        color: $lightGray;
    }

    &__input {
        width: 100%;
        height: 42px;

        padding: 0 2rem;
        background: $gray20;

        color: $lightGray;
        border-radius: 30px;
        line-height: 1.34;
        outline: none;
        border: none;
    }

    &__logo {
        width: 40px;
        height: auto;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}

