@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.nav {
    @include flex;

    background-color: $gray60;
    font-family: $fontHalverita;
    border-bottom: 1px solid $gray50;

    padding: 0.4rem 1rem;
    
    &__left {
        @include flex;

        width: 30%;

        &--image {
            width: 40px;
            height: auto;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        &--search {
            margin-left: 1rem;
            position: relative;
            
            i {
                position: absolute;

                top: 10px;
                left: 8px;

                color: $lightGray;
            }

            input {
                width: 100%;
                height: 42px;

                padding: 0 2rem;
                background: $gray20;

                color: $lightGray;
                border-radius: 30px;
                line-height: 1.34;
                outline: none;
                border: none;
            }
        }
    }

    &__center {
        @include flex;

        width: 40%;

        &--item {
            @include flex;
            justify-content: center;

            width: 20%;
            height: 100%;
            color:$lightGray;

            cursor: pointer;

            i {
                font-size: 30px;
            }
        }
    }

    &__right {
        @include flex;
        justify-content: flex-end;

        width: 30%;
        
        &--user {
            @include flex;

            height: 35px;
            margin-left: 35px;

            padding: 0px 10px 0px 4px;
            border-radius: 30px;

            &-image {
                img {
                    margin-top: 5px;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }
            }

            &-name {
                margin-left: 5px;
                font-weight: 600;
                color: $lightGray;
                font-size: 15px;
            }

            &:hover {
                background-color: $gray20;
                transition: 0.2s;
            }
        }

        &--item {
            @include flex;
            justify-content: center;

            height: 40px;
            width: 40px;
            margin-left: 15px;

            background-color: $gray20;
            border-radius: 50%;
           
            color: $lightGray;
            cursor: pointer;

            &:hover {
                background-color: $gray10;
                transition: 0.2s;
            }
        }
    }
}