<div class="add-board-post">
    <div class="add-board-post__container add-board-post__container--top">
        <div class="btn__image btn__image--bigger">
            <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/cp0/c22.0.40.40a/p40x40/78846700_1038090023194803_1966213329206640640_o.jpg?_nc_cat=100&ccb=2&_nc_sid=dbb9e7&_nc_ohc=xJt8RtSpl7UAX8RHliX&_nc_ht=scontent-waw1-1.xx&tp=27&oh=3c064b30c244db8770279a534a2addc2&oe=5FCAD134" alt="user photo">
        </div>
        <button class="add-board-post__input">O czym myślisz, Krzysztof?</button>
    </div>
    <div class="add-board-post__container add-board-post__container--bottom">
        <button class="btn btn__with-icon btn__with-icon--centered">
            <div class="material-icons">live_tv</div>
            <label class="btn__label">Transmisja na żywo</label>
        </button>
        <button class="btn btn__with-icon btn__with-icon--centered">
            <div class="material-icons">photo_library</div>
            <label class="btn__label">Zdjęcie/film</label>
        </button>
        <button class="btn btn__with-icon btn__with-icon--centered">
            <div class="material-icons">tag_faces</div>
            <label class="btn__label">Nastrój/aktywność</label>
        </button>
    </div>
</div>