<div class="add-board-post">
    <div class="add-board-post__top">
        <div class="add-board-post__top--image">
            <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/cp0/c22.0.40.40a/p40x40/78846700_1038090023194803_1966213329206640640_o.jpg?_nc_cat=100&ccb=2&_nc_sid=dbb9e7&_nc_ohc=xJt8RtSpl7UAX8RHliX&_nc_ht=scontent-waw1-1.xx&tp=27&oh=3c064b30c244db8770279a534a2addc2&oe=5FCAD134" alt="user photo">
        </div>
        <div class="add-board-post__top--input">
            O czym myślisz, Krzysztof?
        </div>
    </div>
    <div class="add-board-post__bottom">
        <div class="add-board-post__bottom--button">
            <div class="add-board-post__bottom--button-icon">
                <i class="material-icons">live_tv</i>
            </div>    
            <div class="add-board-post__bottom--button-label">
                Transmisja na żywo
            </div>
        </div>
        <div class="add-board-post__bottom--button">
            <div class="add-board-post__bottom--button-icon">
                <i class="material-icons">photo_library</i>
            </div>    
            <div class="add-board-post__bottom--button-label">
                Zdjęcie/film
            </div>
        </div>
        <div class="add-board-post__bottom--button">
            <div class="add-board-post__bottom--button-icon">
                <i class="material-icons">tag_faces</i>
            </div>    
            <div class="add-board-post__bottom--button-label">
                Nastrój/aktywność
            </div>
        </div>
    </div>
</div>