//colors
$lightGray: #b5b5b5;
$gray70: #18191a;
$gray61: #232323;
$gray60: #242526;
$gray50: #2c2d2e;
$gray20: #3b3b3b;
$gray10: #474747;
$white: #ffffff;
$aqua: #00ffff;

//fonts
$fontHalverita: Helvetica, Arial, sans-serif;