<div class="nav-panel">
    <div class="nav-panel__item first">
        <div class="nav-panel__item--image">
            <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/cp0/c22.0.40.40a/p40x40/78846700_1038090023194803_1966213329206640640_o.jpg?_nc_cat=100&ccb=2&_nc_sid=dbb9e7&_nc_ohc=xJt8RtSpl7UAX8RHliX&_nc_ht=scontent-waw1-1.xx&tp=27&oh=3c064b30c244db8770279a534a2addc2&oe=5FCAD134" alt="user photo"> 
        </div>
        <div class="nav-panel__item--name">
            Krzysztof Baranowski
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/kOxV5aCYUAE.png" alt="covid">
        </div>
        <div class="nav-panel__item--name">
            COVID-19 - centrum informacji
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="friends">
        </div>
        <div class="nav-panel__item--name">
            Znajomi
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt="groups">
        </div>
        <div class="nav-panel__item--name">
            Grupy
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt="market">
        </div>
        <div class="nav-panel__item--name">
            Marketplace
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt="videos">
        </div>
        <div class="nav-panel__item--name">
            Filmy
        </div>
    </div>
    <div class="nav-panel__item">
        <div class="nav-panel__item--image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/8wTx0Eu2vRq.png" alt="events">
        </div>
        <div class="nav-panel__item--name">
            Wydarzenia
        </div>
    </div>
    <div class="nav-panel__item last">
        <div class="nav-panel__item--icon"> 
            <i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="nav-panel__item--name">
            Zobacz więcej
        </div>
    </div>
</div>    