<div class="nav-panel">
    <button class="btn btn__with-icon btn__with-icon--first">
        <div class="btn__image btn__image--big">
            <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/cp0/c22.0.40.40a/p40x40/78846700_1038090023194803_1966213329206640640_o.jpg?_nc_cat=100&ccb=2&_nc_sid=dbb9e7&_nc_ohc=xJt8RtSpl7UAX8RHliX&_nc_ht=scontent-waw1-1.xx&tp=27&oh=3c064b30c244db8770279a534a2addc2&oe=5FCAD134" alt="user photo"> 
        </div>
        <label class="btn__label">Krzysztof Baranowski</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/kOxV5aCYUAE.png" alt="covid">
        </div>
        <label class="btn__label">COVID-19 - centrum informacji</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="friends">
        </div>
        <label class="btn__label">Znajomi</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt="groups">
        </div>
        <label class="btn__label">Grupy</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt="market">
        </div>
        <label class="btn__label">Marketplace</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt="videos">
        </div>
        <label class="btn__label">Filmy</label>
    </button>
    <button class="btn btn__with-icon">
        <div class="btn__image btn__image--big">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/8wTx0Eu2vRq.png" alt="events">
        </div>
        <label class="btn__label">Wydarzenia</label>
    </button>
    <button class="btn btn__with-icon btn__with-icon--last">
        <div class="btn__icon material-icons">keyboard_arrow_down </div>
        <label class="btn__label"> Zobacz więcej</label>
    </button>
</div>    