@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.container {
    display: flex;
    flex-direction: row;

    height: 100%;
    background-color: $gray70;

    &__navigation {
        width: 30%;
    }

    &__main {
        width: 35%;
    }

    &__chat {
        width: 35%;
    }
}